PRIMARY_LLM_PROVIDER=nim
FALLBACK_LLM_PROVIDER=mistral

GROQ_API_KEY=your_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_EVAL_MODEL=llama-3.1-8b-instant

OPENROUTER_API_KEY=your_openrouter_key_here
OPENROUTER_MODEL=openrouter/free
OPENROUTER_EVAL_MODEL=openrouter/free

MISTRAL_API_KEY=your_mistral_key_here
MISTRAL_MODEL=mistral-small-latest
MISTRAL_EVAL_MODEL=mistral-small-latest

NIM_API_KEY=your_nvidia_api_key_here
NIM_MODEL=nvidia/llama-3.3-nemotron-super-49b-v1.5
NIM_EVAL_MODEL=nvidia/llama-3.3-nemotron-super-49b-v1.5