.DS_Store
*.mp4
*.wav
*.zip
# Virtual environment
.venv/
venv/
s
# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Output files
segments_*.json
concepts_*.json
concept_eval.json
quiz_bank_lec4_transformers.bak_*.json
quiz_bank_lec4_transformers_filtered.bak_*.json
quiz_eval_lec4_transformers.bak_*.json
pdf/